*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

venv/
ENV/

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
migrations/
media/
staticfiles/

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

pip-log.txt
pip-delete-this-directory.txt

.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

*.swp
*~